/*==============================================================================
|| Les mises en forme principales.
==============================================================================*/

html
{
}

body
{
	color: #666666;
	font: Tahoma, Comic Sans MS, Helvetica, Bitstream Vera, Courier New, Verdana, Arial, Monaco, Trebuchet MS, sans-serif;
	font-size: 0.7em;
}

#struct_left_panel
{
	position: fixed;
	width: 200px;
}

#struct_identity,
#struct_menu
{
	border: 1px solid #666;
	padding: 5px;
	margin-bottom: 10px;
	-moz-border-radius-bottomleft: 8px;  
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	-webkit-border-bottom-right-radius: 8px;
}

#struct_licence
{
	border: 1px solid #666;
	padding: 5px;
	margin-bottom: 10px;
	background-color: #EEE;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	text-align : center;
}

#struct_main
{
	font-size: 1em;
}

#struct_licence table
{
	width: 100%;
	padding: 0px;
}

#struct_licence img
{
	border: 0px;
	height: 15px;
	width: 80px;
}

#struct_main
{
	margin-left: 210px; /* = width de struct_left_panel + 10px */
	border: 1px solid #666;
	padding: 5px;
	-moz-border-radius-topleft: 8px;  
	-webkit-border-top-left-radius: 8px;
	-moz-border-radius-topright: 8px;
	-webkit-border-top-right-radius: 8px;
}

/* Ne pas mettre de bordure sur les images servant de liens */
a img
{
	border: 0;
}

/*==============================================================================
|| Les messages d'erreur et d'avertissement.
==============================================================================*/

#struct_popup_mask
{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 1000;
	background-color: #000000;
	opacity: 0.6;
	overflow: hidden;
}

#struct_popup
{
	position: absolute;
	top: 20%;
	left: 30%;
	right: 30%;
	z-index: 1001;
	background-color: #FFFFFF;
	border: 2px solid #777;
	padding: 5px;
}

body.popup_stop_scroll
{
	overflow:hidden;
}

/*==============================================================================
|| La boite d'identification.
==============================================================================*/

#struct_popup h1
{
	margin: -5px -5px 0 -5px;
	padding: 0 5px 0 5px;
	font-size: 1.5em;
	background-color: #777;
	background-image: url(images/icons/16x16/hghead.png);
	font-weight: bold;
	color: white;
}
/*======================================
|| Alternance entre les lignes d'un tableau.
======================================*/

#struct_main tr.ligne0,
#struct_main tr.ligne0 a
{
	background-color: #0195f8;
	color: white;
}

#struct_main tr.ligne1,
#struct_main tr.ligne1 a
{
	background-color: #6fb7ff;
	color: white;
}

#struct_main tr.ligne10,
#struct_main tr.ligne10 a
{
	background-color: #6fb7ff;
	color: white;
}

#struct_main tr.ligne11,
#struct_main tr.ligne11 a
{
	background-color: #60b0f0;
	color: white;
}

#struct_main thead tr
{
	background-color: #025AA9;
	color: white;
}

#struct_main .solde
{
	background-color: #DDDDDD;;
	color: black;
}

/*==============================================================================
|| Le menu et les entetes de fenetre
==============================================================================*/

/* h1 : entete de menu et de page */

#struct_main h1
{
	margin: -5px 2px -5px 2px;
	padding: 0 5px 2px 5px;
	font-size: 1.5em;
	background-color: #666;
	background-image: url(images/bckgrd/h_gloss.png);
	font-weight: bold;
	color: white;
}

#struct_identity h1,
#struct_menu h1
{
	margin: -5px -5px -5px -5px;
	padding: 0 5px 6px 5px;
	font-size: 1.5em;
	background-color: #666;
	background-image: url(images/bckgrd/h_gloss.png);
	font-weight: bold;
	color: white;
}

#struct_identity h1,
#struct_menu h1
{
	text-align : center;
}

/* h2/h3 : entete de sous-menu */
#struct_menu h2
{
	margin: -5px -5px 0px -5px;
	padding: 2px 5px 7px 5px;
	font-size: 1.1em;
	background-color: #666;
	font-weight: bold;
	text-align : center;
	color: white;
}

#struct_menu h3
{
	margin: -5px -5px 0px -5px;
	padding: 0px 5px 5px 5px;
	font-size: 1em;
	background-color: #777;
	font-weight: bold;
	color: white;
}

/* h4 : entree de menu */
#struct_identity h4,
#struct_menu h4
{
	margin: -5px -5px 2px -5px;
	padding: 3px 5px 5px 5px;
	font-size: 1em;
	background-color: #fff;
	background-image: url(images/bckgrd/separateur.png);
}

/* h5 : separateur */
#struct_menu h5
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-size: 0.2em;
	background-color: #fff;
}

#struct_identity img,
#struct_menu  img
{
	vertical-align : text-top;
	padding: 0px 7px 0px 0px;
}

#struct_main img
{
	text-align: left;
	vertical-align: middle;
	padding: 0px 7px 0px 0px;
}

#struct_identity a,
#struct_menu a
{
	color: #113;
	text-decoration:none; 
}

#struct_identity a:hover,
#struct_menu a:hover
{
	color: #557;
	text-decoration:none; 	
}

#struct_main a
{
	color: #025AA9;
}

#struct_main a:hover
{
	color: #0000ff;
}

/*==============================================================================
|| Les mises en forme generales pour le corps du site.
==============================================================================*/

/* #struct_main h1 */ /* Voir "La boite d'identification" */

/*========== Les liens ==========*/
/* Voir "Le menu" */

/*======================================
|| Les elements de formulaire.
======================================*/

#struct_left_panel #struct_identity table tr td select,
#struct_left_panel #struct_identity table tr td input,
#struct_identity select,
#struct_identity input,
/* ----- */
#struct_main select,
#struct_main input,
#struct_main button
{
	border: 1px solid #555;
	color: #666666;
	font-size: 0.9em;
}

#struct_main textarea
{
	border: 1px solid #555;
	color: #666666;
	font-size: 1.3em;
}

/* Attention les input de type hidden ne doivent pas en faire partie sinon on aura des '.' dans l'affichage */
#struct_identity input[type=hidden],
#struct_main input[type=hidden]
{
    border:0;
}

/*======================================
|| Tableau de type "information".
======================================*/

#struct_main table.info
{
	border-collapse: collapse;
	background-color: #0066FF;
	color: white;
}

#struct_main table.info a
{
	color: inherit;
}

#struct_main table.info caption
{
	background-color: #025AA9;
}

#struct_main table.info th
{
	background-color: #025AA9;
	text-align: left;
}

/*======================================
|| Tableau de type "list_tree" : liste a plusieurs niveaux.
======================================*/

#struct_main table.list_tree
{
	border-collapse: collapse;
	color: white;
}

#struct_main table.list_tree a
{
	color: inherit;
}

#struct_main table.list_tree caption
{
	background-color: #025AA9;
}

#struct_main table.list_tree thead tr
{
	background-color: #025AA9;
}

#struct_main table.list_tree tbody tr.caption
{
	background-color: #307bc3;
	background-image: url(images/bckgrd/separateur_app.png);
	background-repeat: repeat-x;
	font-size: 1.1em;
}

#struct_main table.list_tree tfoot tr
{
	color: black;
}

#struct_main table.list_tree tr th
{
	text-align:left;
}

#struct_main table.list_tree tr.level0_row0 {background-color: #3092c4;}
#struct_main table.list_tree tr.level0_row1 {background-color: #3b9dcc;}
#struct_main table.list_tree tr.level1_row0 {background-color: #4169E1;}
#struct_main table.list_tree tr.level1_row1 {background-color: #4682B4;}
#struct_main table.list_tree tr.level2_row0 {background-color: #6495ED;}
#struct_main table.list_tree tr.level2_row1 {background-color: #00BFFF;}

#struct_main table.list_tree tr.level3_row0 {background-color: #9966FF; color: black;}
#struct_main table.list_tree tr.level3_row1 {background-color: #0099FF; color: black;}
#struct_main table.list_tree tr.level4_row0 {background-color: #99CCFF; color: black;}
#struct_main table.list_tree tr.level4_row1 {background-color: #CCCCFF; color: black;}

#struct_main table.list_tree tr.level5_row0 {background-color: #FF99FF; color: black;}
#struct_main table.list_tree tr.level5_row1 {background-color: #FFCCFF; color: black;}
#struct_main table.list_tree tr.level6_row0 {background-color: #FFFFFF; color: black;}
#struct_main table.list_tree tr.level6_row1 {background-color: #FFFFCC; color: black;}
#struct_main table.list_tree tr.level7_row0 {background-color: #FFFFFF; color: black;}
#struct_main table.list_tree tr.level7_row1 {background-color: #FFFFFF; color: black;}

/*======================================
|| Tableau special calendrier.
======================================*/

#struct_main table.list_tree  th.tab_top_left
{
	background-image: url(images/bckgrd/tab_top_r.png);
	background-repeat: no-repeat;
	background-position: bottom left;
	padding: 0px 0px 0px 20px;
}

#struct_main table.list_tree th.tab_bottom_left
{
	background-image: url(images/bckgrd/tab_bottom_r.png);
	background-repeat: no-repeat;
	background-position: bottom left;
	padding: 0px 0px 0px 20px;
}

#struct_main table.list_tree  th.tab_top_right
{
	background-image: url(images/bckgrd/tab_top_l.png);
	background-repeat: no-repeat;
	background-position: bottom left;
}

#struct_main table.list_tree  th.tab_bottom_right
{
	background-image: url(images/bckgrd/tab_bottom_l.png);
	background-repeat: no-repeat;
	background-position: bottom left;	
}

/*======================================
|| Tableau pour les formulaires.
======================================*/

#struct_main table.formulaire
{
	border: 2px groove #CCCCCC;
	margin-top: 1em;
}

#struct_main table.formulaire caption
{
	display: inline;
	position: relative;
	top: -1em;
	left: 0.5em;
	background-color: #FFFFFF;
	vertical-align: middle;
}

#struct_main table.formulaire th 
{
	text-align: left;
	font-weight: normal;
}

/*==============================================================================
|| Ecran "home" : pour la gestion des evolutions.
==============================================================================*/

#struct_main.home li.bug_majeur {list-style-image: url(images/icons/16x16/puce_rouge.png);}
#struct_main.home li.bug_mineur {list-style-image: url(images/icons/16x16/puce_terredesienne.png);}
#struct_main.home li.bug_faible {list-style-image: url(images/icons/16x16/puce_jaune.png);}

#struct_main.home li.evolution_majeure {list-style-image: url(images/icons/16x16/puce_verte.png);}
#struct_main.home li.evolution_mineure {list-style-image: url(images/icons/16x16/puce_vertclair.png);}
#struct_main.home li.evolution_faible   {list-style-image: url(images/icons/16x16/puce_jaunecitron.png);}

/*==============================================================================
|| Ecran "activity".
==============================================================================*/

.display_value
{
	text-align: center;
}

.nowrap
{
    white-space: nowrap;
}

/*==============================================================================
|| Barre de défilement vertical sur certains ecrans
==============================================================================*/

.div_scrollable_small
{
	height:400px;
	overflow-y:auto;
	overflow-x:hidden;
}

.div_scrollable_medium
{
	height:500px;
	overflow-y:auto;
	overflow-x:hidden;
}

.div_scrollable_large
{
	height:608px;
	overflow-y:auto;
	overflow-x:hidden;
}

/*==============================================================================
|| Suivi du curseur sur les tableaux
==============================================================================*/

#struct_main table.list_tree tbody tr:hover,
tr.row0:hover,
tr.row1:hover,
.colonne1:hover,
.colonne2:hover,
.colonne3:hover,
.domaine:hover,
.matiere:hover
{
	background-color: #888;
}

/*==============================================================================
|| Récapitulatif annuel ou périodique
==============================================================================*/

table.entete_n tr td
{
	border: 1px solid black;
}

table.display tr td
{
	border: 1px solid black;
	text-align: left;
}

/* colonne des périodes */
.colonne1
{
	background-color: #A0A0A0;
	color: white;
}

.colonne2
{
	background-color: #B8B8B8;
	color: white;
}

.colonne3
{
	background-color: #D0D0D0;
	color: white;
}

.domaine
{
	font-size: 1.1em;
	font-weight: bold;
	background-color: #E0E0E0;
	color: black;
}

.matiere
{
	font-size: 1em;
	font-weight: bold;
	background-color: #F0F0F0;
	color: black;
	text-align: left;
}

/* Legende des notes */
.A
{
	background-color: green;
	color: white;
	text-align: center;
}

.AR
{
	background-color: yellow;
	color: black;
	text-align: center;
}

.ECA
{
	background-color: orange;
	color: white;
	text-align: center;
}

.NA
{
	background-color: red;
	color: white;
	text-align: center;
}

/* Alternance de couleurs */
tr.row0, tr.row1
{
	font-size: 0.9em;
	color: white;
}

tr.row0
{
	background-color: #3092c4;
}

tr.row1
{
	background-color: #3b9dcc;
}
