/*==============================================================================
|| Correctifs pour Internet Explorer 7 et sup.
==============================================================================*/

/*==============================================================================
|| La structure principale du site.
==============================================================================*/

#struct_left_panel
{
	/* Sinon le panneau de gauche n'est pas vraiment a gauche */
	left: 8px;
}

/*==============================================================================
|| Les messages d'erreur et d'avertissement.
==============================================================================*/

#struct_popup_mask
{
	/* Equivalent IE de "opacity: 0.6" */
	filter: alpha(opacity = 60);

	/* IE ne comprend pas le "overflow: hidden" sur le body
		donc on fixe le mask pour eviter les scroll */
	position: fixed;
}

#struct_popup
{
	/* IE ne comprend pas le "overflow: hidden" sur le body
		donc on fixe la popup pour eviter les scroll */
	position: fixed;
}

/*==============================================================================
|| Les mises en forme generales pour le corps du site.
==============================================================================*/

/*======================================
|| Tableaux de type "list" : 1 seul niveau.
======================================*/

#struct_main table.list a
{
	/* IE ne comprend pas le "color: inherit" */
	color: white;
}

/*======================================
|| Tableau de type "list_tree" : liste a plusieurs niveaux.
======================================*/

#struct_main table.list_tree a
{
	/* IE ne comprend pas le "color: inherit" */
	color: white;
}

/*======================================
|| Tableau special calendrier.
======================================*/

#struct_main table.calendar a,
#struct_main table.calendar input, 
#struct_main table.calendar select
{
	/* IE ne comprend pas le "color: inherit" */
	color: white;
}

/*==============================================================================
|| page avec scrollbar sur la zone de texte (desactive car ie ne comprend pas)
==============================================================================*/

/* Impossible de faire un scroll vertical sous IE sans devoir rajouter un div autour de la table.... Tant pis pour lui. */
.div_scrollable_small, .div_scrollable_medium, .div_scrollable_large 
{
	height: auto;
	overflow: none;
}
