input, select, textarea, button {
	border-radius: 5px;
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
}

#struct_main .list, 
#struct_main .list_tree, 
#struct_main .formulaire,
#struct_main .info,
#struct_main .inline,
#struct_main .display
{
 	border: 1px solid;
	border-radius: 8px;
    -moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

#struct_main table.list caption, 
#struct_main table.list_tree caption,
#struct_main table.formulaire caption,
#struct_main table.info caption,
#struct_main table.inline caption,
#struct_main table.display caption
{
	border-radius-topleft: 8px;
	border-radius-topright: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	-webkit-border-radius-topleft: 8px;
	-webkit-border-radius-topright: 8px;
}

.messagebox_debug
{
    background: #F5D0A9 url(images/icons/32x32/messagebox_warning.png) no-repeat left top;
    border: 1px solid orange;
    color: #000000;
}

.arrow_left {background: url(images/icons/16x16/arrow_left.png)	no-repeat left center;}
.arrow_right {background: url(images/icons/16x16/arrow_right.png) no-repeat left center;}

.struct_main_hidden
{
	display: none;
	margin-left: 0;
}