#struct_main input, #struct_main select, 
#struct_main textarea, #struct_main button {
	border-radius: 5px;
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
}

#struct_main .list, 
#struct_main .list_tree, 
#struct_main .formulaire,
#struct_main .info,
#struct_main .inline
{
 	border: 1px solid;
	border-radius: 8px;
    -moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

#struct_main .list_tree caption
{
	border-radius-topleft: 8px;
	border-radius-topright: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	-webkit-border-radius-topleft: 8px;
	-webkit-border-radius-topright: 8px;
}
