body
{
	font: Tahoma, Comic Sans MS, Helvetica, Bitstream Vera, Courier New, Verdana, Arial, Monaco, Trebuchet MS, sans-serif;
	font-size: 1.3em;
	font-family: cursive;
}

@page
{
	size: 21.0cm 29.7cm;
	margin-top: 1cm;
	margin-bottom: 1cm;
	margin-left: 1cm;
	margin-right: 1cm
}

.page_1
{
	width: 1024px;
	height: 768px;
	text-align: center;
}

.page_1, .titre1, .titre2, .titre3, .titre4, .titre5, .titre6, .struct_identite_eleve
{
	clear: both;
}

.titre1
{
	font-weight: bold;
	font-size: 3em;
}

.titre2
{
	font-weight: bold;
	font-size: 2em;		
}

/* Présentation du cycle */
.titre3
{
	margin-left: 362px; /* (1024-300) / 2 */
	border: 1px solid black;
	width: 400px;
	height: 300px;
	font-weight: bold;
	font-size: 2.5em;
}

.titre4
{
	font-weight: bold;
	font-size: 2.75em;
}

.titre5
{
	font-weight: bold;
	font-size: 1.1em;		
}

.titre6
{
	margin-left: 362px; /* (1024-300) / 2 */
	width: 300px;
	height: 400px; 
	font-size: 1em;
	text-align: left;
}

.struct_identite_eleve
{
	margin-left: 312px;/* (1024 - 400) / 2 */
	border: 1px solid black; 
	width: 300px;
	height: 65px;
	text-align: center;
}

.identite_eleve, .classe_eleve
{
	text-align: left;
}

.page_n
{
	width: 1024px;
	height: 768px;
	border: 1px solid black;
	text-align: center;
}

table.entete_n tr td
{
	border-collapse: collapse;
	border: 1px solid black;
}

table.display tr td
{
	border-collapse: collapse;
	border: 1px solid black;
	text-align: left;
}

.colonne1
{
	background-color: #A4A4A4;
}

.colonne2
{
	background-color: #BDBDBD;
}

.colonne3
{
	background-color: #D8D8D8;
}
